html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: 'Acme', sans-serif;
}

.active{
    background-color: rgb(54, 54, 54);
    transition: 200ms ease-in-out;
}

.body-container{
    display: flex;
    flex-direction: column;
    .header-wrapper{
        min-height: 5rem;
        .header{
            z-index: 9;
            position: fixed;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-height: 5rem;
            background-color: rgb(25, 25, 25);
            border-bottom: solid 2px rgb(54, 54, 54);
            width: 100%;
            h1{
                a{
                    color:#db0602;
                    text-decoration: none;
                    &:active{
                        color: #db0602;
                    }
                }
                padding: 1rem;
            }
            .menu-bar{
                display: flex;
                flex-direction: row;
                .menu-bar-item{
                    color: white;
                    padding: 1.5rem;
                    min-width: 4rem;
                    text-align: center;
                    border: solid 1px rgb(25, 25, 25);
                    &:hover{
                        background-color: rgb(54, 54, 54);
                        cursor: pointer;
                        transition: 200ms ease-in-out;
                    }
                    .genres-list{
                        z-index: 10;
                        position: fixed;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        min-width: 30rem;
                        background-color:  rgb(54,54,54);
                        right: 28%;
                        top: 7%;
                        display: none;
                        padding: 1rem;
                        .genres-item:hover{
                            background-color: rgb(25,25,25);
                            cursor: pointer;
                        }
                    }
                }
            }
            .search-form{
                padding: 1rem;
                .search-bar{
                    padding-right: 1rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    input[type="text"]{
                        font-size: 20px;
                        font-family: inherit;
                    }
                    button{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .results-container{
        .movies-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 2rem;
            .movie-card{
                text-align: center;
                h1{
                    color:white;
                    font-size: 1rem;
                }
                img{
                    transition: .3s ease-in-out;
                }
                img:hover{
                    filter: drop-shadow(0px 6px 3px rgb(54, 54, 54));
                    transform: scale(1.05);;
                }
            }
            h1{
                color: white;
                font-size: 5rem;
            }
        }

        .btn-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:1rem;
            #load-more-movies-btn{
                font-size: 20px;
                font-family: inherit;
                margin: 1rem;
            }
            #close-search-btn{
                font-size: 20px;
                font-family: inherit;
                margin: 1rem;
                display: none;
                a{
                    text-decoration: none;
                    color: black;
                    &:visited{
                        color: black;
                    }
                }
            }
        }
    }

    .popup-container{
        display: flex;
        .popup-card{
            transition: 200ms ease-in-out;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            color: black;
            border: 1px solid black;
            border-radius: 2rem;
            z-index: 10;
            background-color: rgb(242, 233, 233);
            height:50rem;
            max-width: 70%;
            padding: 2rem;
            h1{
                font-size: 1.2rem;
            }
        }
        .close-btn{
            position: fixed;
            right: 25.5%;
            top: 7.5%;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            z-index: 11;
            color: black;
            display: none;
        }
        .popup-card.active{
            transform: translate(-50%, -50%) scale(1);
        }
    }

    .overlay{
        position: fixed;
        transition: 200ms ease-in-out;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        pointer-events: none;
    }
    .overlay.active{
        opacity: 1;
        pointer-events: all;
    }
}


#genres:hover .genres-list {
    display: grid;
}

// media queries

@media screen and (max-width: 1440px){
    .genres-list{
        right: 20.4% !important;
        top: 9.2% !important;
    }
    .popup-card{
        height: 40rem !important;
        .trailer{
            width: 360px !important;
            height: 215px !important;
            resize: both !important;
        }
        h1{
            font-size: 1rem !important;
        }
        span{
            font-size: .8rem !important;
        }
    }
}