html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: 'Acme', sans-serif;
    // scroll-behavior: smooth;
}

.active{
    background-color: rgb(54, 54, 54);
    transition: 200ms ease-in-out;
}

.body-container{
    display: flex;
    flex-direction: column;
    .header-wrapper{
        min-height: 5rem;
        .header{
            z-index: 9;
            position: fixed;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-height: 5rem;
            background-color: rgb(25, 25, 25);
            border-bottom: solid 2px rgb(54, 54, 54);
            width: 100%;
            h1{
                a{
                    color:#db0602;
                    text-decoration: none;
                    &:active{
                        color: #db0602;
                    }
                }
                padding: 1rem;
            }
            .menu-bar{
                display: flex;
                flex-direction: row;
                .menu-bar-item{
                    color: white;
                    padding: 1.5rem;
                    min-width: 4rem;
                    text-align: center;
                    border: solid 1px rgb(25, 25, 25);
                    &:hover{
                        background-color: rgb(54, 54, 54);
                        transition: 200ms ease-in-out;
                    }
                    .genres-list{
                        z-index: 10;
                        position: fixed;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        min-width: 30rem;
                        background-color:  rgb(54,54,54);
                        right: 21%;
                        top: 9%;
                        display: none;
                        padding: 1rem;
                        .genres-item:hover{
                            background-color: rgb(25,25,25);
                        }
                    }
                }
            }
            .search-form{
                padding: 1rem;
                .search-bar{
                    padding-right: 1rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    input[type="text"]{
                        font-size: 20px;
                        font-family: inherit;
                    }
                    button{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .results-container{
        .movies-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 2rem;
            .movie-card{
                text-align: center;
                h1{
                    color:white;
                    font-size: 1rem;
                }
                img{
                    transition: .3s ease-in-out;
                }
                img:hover{
                    filter: drop-shadow(0px 6px 3px rgb(54, 54, 54));
                    transform: scale(1.05);;
                }
            }
            h1{
                color: white;
                font-size: 5rem;
            }
        }

        .btn-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:1rem;
            #load-more-movies-btn{
                font-size: 20px;
                font-family: inherit;
                margin: 1rem;
            }
            #close-search-btn{
                font-size: 20px;
                font-family: inherit;
                margin: 1rem;
                display: none;
                a{
                    text-decoration: none;
                    color: black;
                    &:visited{
                        color: black;
                    }
                }
            }
        }
    }
}

#genres:hover .genres-list {
    display: grid;
}